<div class="cont">
    <div class="row mt_1">
        <div class="col-lg-3 col-sm-12">
            <div class="text_left font_size_24 text_light">
                <i class="bi bi-arrow-left-short mr_2 pointer" (click)="back()"></i>
                <i class="bi bi-person-square mr_1"></i>
                My Profile
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 position_relative">
            <div class="mt_5">
                <div class="circle_dp text_center position_relative">
                    <img src="../../../../../../assets/images/girl.jpeg">
                    <div class="icon_cont">
                        <i class="bi bi-camera text_orange"></i>
                    </div>
                </div>
            </div>
            <div class="icon_cont_1">
                <i class="bi bi-pen text_orange"></i>
            </div>
            <input placeholder="Username" disabled type="text" id="formPassword" value="username" class="form-control w_100 mt_3 mb_1" />
            <input placeholder="Email Address" disabled type="email" value="superadmin@gmail.com" id="formPassword" class="form-control w_100 mt_1 mb_1" />
            <input placeholder="Password" disabled type="password" value="123456" id="formPassword" class="form-control w_100 mt_1 mb_1" />
        </div>
        <div class="col-lg-3 col-sm-12">

        </div>
    </div>
</div> 