<div class="_card pt_2 pb_2 pl_3 pr_3 text_center border_radius_12">
    <div class="font_size_34 text_warning mt_1">Login To Your Account</div>
    <div class="text_faint font_size_16 mt_1">If you have an account already, <a class="text_orange" routerLink="/register">Sign Up</a></div>

    <input placeholder="Admin Email" type="text" id="formEmail" class="form-control mt_4 mb_4" />

    <input placeholder="Password" type="password" id="formPassword" class="form-control mt_4 mb_4" />


    <button type="button" block="true" routerLink="../dashboard" class=" w_100 btn button orange_btn">Login</button>
