<div class="cont">
    <div class="mt_3 mb_1 font_size_24 text_left text_light" style="font-weight: 700;">Make Your Customizations Here</div>
    <div class="_jcb mt_1">
        <div class="card_8 display_inline_block bg_grey border_radius_12 pt_5 pl_1 pr_1 pb_2 text_center" routerLink="../settings/profile">
            <i class="bi bi-person-square margin_auto"></i>
            <div class="text_light text_center font_size_24 mb_3 mt_05">My Profile</div>
        </div>
        <div class="card_8 display_inline_block bg_grey border_radius_12 pt_5 pl_1 pr_1 pb_2 text_center" routerLink="../settings/management">
            <i class="bi bi-speedometer2 margin_auto"></i>
            <div class="text_light text_center font_size_24 mb_3 mt_05">User Management</div>
        </div>
        <div class="card_8 display_inline_block bg_grey border_radius_12 pt_5 pl_1 pr_1 pb_2 text_center" routerLink="../settings/general">
            <i class="bi bi-gear margin_auto"></i>
            <div class="text_light text_center font_size_24 mb_3 mt_05">General Status</div>
        </div>
    </div>
</div> 